@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;900&display=swap");

:root {
  --primarytext-color: #22d4fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #f6f6f6;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(5, 23, 45) 0%, rgb(26, 56, 75) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* --------------- HEADER --------------- */
.main_header {
  align-self: flex-start;
  margin-top: 5rem;
  margin-left: 31.75rem;
}

.header_menu {
  display: flex;
  gap: 5rem;
}

.header_links {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primarytext-color);
}

/* --------------- MAIN --------------- */
.presentation {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.presentation_text {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.presentation_title {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
}

.highlight {
  color: var(--primarytext-color);
  font-size: 4rem;
  line-height: 6rem;
  text-shadow: 1px 1px px #1e90ac;
  letter-spacing: 2px;
  font-weight: 900;
}

.presentation_description {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: justify;
}

.presentation_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.links_subtitle {
  font-size: 2.4rem;
  letter-spacing: 3px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1.6rem;
  width: 28rem;

  border-radius: 1.2rem;
  border: 2px solid #ffffff;

  color: #ffffff;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 600;
  gap: 0.5rem;
}

.btn:hover {
  background-color: color-mix(
    in srgb,
    var(--primarytext-color),
    transparent 85%
  );
}

.perfil_image {
  width: 55rem;
  border-radius: 6rem;
}

.about {
  align-self: flex-start;
}

/* --------------- FOOTER --------------- */
footer {
  background-color: color-mix(
    in srgb,
    var(--primarytext-color),
    transparent 85%
  );
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-weight: 700;
}
